<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"   href="../../CSS-20210116T074222Z-001/CSS/styles.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="shortcut icon" type="image/png" href="./styles/images/fav.png">
    <title>USERVICE | Discover</title>
</head>
<body>
	<section id="header">
        <div class="header container">
            <div class="nav">
                <div class="brand">
                    <a href="./index.html" id="logo"><img  src="./styles/images/logo1.png"></a>
                </div>
                <div class="nav-items">
                    <div class="hamburger"><div class="bar"></div></div>
                    <ul>
                        <li><a href="./discover.html" data-after="Discover" id="discover">Discover</a></li>
                        <li><a href="./jobs.html" data-after="Job" id="job"> Jobs</a></li>
                        <li><a href="./contactus.html" data-after="Contact Us" id="Contact Us"> Contact Us</a></li>
                        <li><a href="./signin.html" data-after="Sign In" id="signin"> Sign In</a></li>
                        <li><a href="./signup.html" data-after="Join us" id="joinus"> Join us</a></li>                    
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="./styles/images/1.jpg" alt=""><h4>Photography</h4>
                </div>
                <div class="col-3">
                    <img src="./styles/images/4.jpg" alt=""><h4>Graphic Design</h4>
                </div>
                <div class="col-3">
                    <img src="./styles/images/2.jpg" alt=""><h4>Art & Illustrations</h4>
                </div>
                <div class="col-3">
                    <img src="./styles/images/3.jpg" alt=""><h4>Development</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="line">

    </div>

    <div class="search-box">
        <input type="text" placeholder="Search..."><i class="fa fa-search"></i>
    </div>

    <div class="posts">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                            <a class="project" href="./project.html">
                                <div class="project-post">
                                    <div class="project-img">
                                        <img class="project-img" src="./styles/images/graphic desgin.png" alt="" width="400px" style="margin: 0px;">
                                    </div>
                                    <div class="project-content">
                                        <h3 class="project-title" style="font-size: 1rem; position: absolute; top: 20px; left: 20px;">Peace</h3>
                                    </div>
                                </div>
                            <div class="project-header">
                                    <div class="profile-img">
                                        <img src="./styles/images/profile.svg" alt="" class="profile-image" style="width: 24px; height: 24px;">
                                    </div>
                                    <div class="profile-nav-info">
                                        <h2 class="username" style="font-size: 1rem; font-weight: 500; padding: none;">Vishal Rathore</h2>
                                    </div>
                            </div>
                            <div class="project-ratings" style="justify-content: right; text-align: right; align-items: right; width: 100%; padding:2px 2px;">

                                        
                                        <span class="ratings" style="font-size: .8rem; color: gray; font-weight: 500;"><i class="fa fa-star" style="color: #7e27cf; font-size: 1rem; font-weight: 600; margin-right: 4px;"></i>&nbsp;0</span>
                       
                                
                                <span class="project-reviews" style="font-size: .8rem; color: gray; font-weight: 500;">&nbsp;<i class="fa fa-eye" style="color: #7e27cf; font-size: 1rem; font-weight: 600; margin-right: 4px;"></i>&nbsp;21</span>
                                <span class="project-likes" style="font-size: .8rem; color: gray; font-weight: 500;">&nbsp;<i class="fa fa-heart-o"style="color: #7e27cf; font-size: 1rem; margin-right: 4px;"></i>&nbsp;2.4k</span>
                            </div>
                        </a>
                </div>
                <div class="col-3">
                    <a class="project" href="./project.html">
                        <div class="project-post">
                            <div class="project-img">
                                <img class="project-img" src="./styles/images/graphic desgin.png" alt="" width="400px" style="margin: 0px;">
                            </div>
                            <div class="project-content">
                                <h3 class="project-title" style="font-size: 1rem; position: absolute; top: 20px; left: 20px;">Peace</h3>
                            </div>
                        </div>
                    <div class="project-header">
                            <div class="profile-img">
                                <img src="./styles/images/profile.svg" alt="" class="profile-image" style="width: 24px; height: 24px;">
                            </div>
                            <div class="profile-nav-info">
                                <h2 class="username" style="font-size: 1rem; font-weight: 500; padding: none;">Vishal Rathore</h2>
                            </div>
                    </div>
                    <div class="project-ratings" style="justify-content: right; text-align: right; align-items: right; width: 100%; padding:2px 2px;">
                        <span class="project-reviews" style="font-size: .8rem; color: gray; font-weight: 500;">&nbsp;<i class="fa fa-eye" style="color: #7e27cf; font-size: 1ren; font-weight: 600;"></i>&nbsp;21</span>
                        <span class="project-likes" style="font-size: .8rem; color: gray; font-weight: 500;">&nbsp;<i class="fa fa-heart-o"style="color: #7e27cf; font-size: 1ren; ;"></i>&nbsp;2.4k</span>
                    </div>
                </a>
                </div>
                <div class="col-3">
                    <a class="project" href="./project.html">
                        <div class="project-post">
                            <div class="project-img">
                                <img class="project-img" src="./styles/images/graphic desgin.png" alt="" width="400px" style="margin: 0px;">
                            </div>
                            <div class="project-content">
                                <h3 class="project-title" style="font-size: 1rem; position: absolute; top: 20px; left: 20px;">Peace</h3>
                            </div>
                        </div>
                    <div class="project-header">
                            <div class="profile-img">
                                <img src="./styles/images/profile.svg" alt="" class="profile-image" style="width: 24px; height: 24px;">
                            </div>
                            <div class="profile-nav-info">
                                <h2 class="username" style="font-size: 1rem; font-weight: 500; padding: none;">Vishal Rathore</h2>
                            </div>
                    </div>
                    <div class="project-ratings" style="justify-content: right; text-align: right; align-items: right; width: 100%; padding:2px 2px;">
                        <span class="project-reviews" style="font-size: .8rem; color: gray; font-weight: 500;">&nbsp;<i class="fa fa-eye" style="color: #7e27cf; font-size: 1ren; font-weight: 600;"></i>&nbsp;21</span>
                        <span class="project-likes" style="font-size: .8rem; color: gray; font-weight: 500;">&nbsp;<i class="fa fa-heart-o"style="color: #7e27cf; font-size: 1ren; ;"></i>&nbsp;2.4k</span>
                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>
    <div class="foot">
        <p>All &copy; USERVICE | Designed & Developed by Vishal Rathore, Usman Hussain & Hussain Zohair</p>

    </div>

</body>
<script src="./app.js" type="text/javascript"></script>
</html>