<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet"  href="./styles/styles.css">
    <link rel="shortcut icon" type="image/png" href="./styles/images/fav.png">
    <title>USERVICE</title>
</head>


<body>

    <section id="header">
        <div class="header container">
            <div class="nav">
                <div class="brand">
                    <a href="./index.html" id="logo"><img  src="./styles/images/logo1.png"></a>
                </div>
                <div class="nav-items">
                    <div class="hamburger"><div class="bar"></div></div>
                    <ul>
                        <li><a href="./discover.html" data-after="Discover" id="discover">Discover</a></li>
                        <li><a href="./jobs.html" data-after="Job" id="job"> Jobs</a></li>
                        <li><a href="./contactus.html" data-after="Contact Us" id="Contact Us"> Contact Us</a></li>
                        <li><a href="./signin.html" data-after="Sign In" id="signin"> Sign In</a></li>
                        <li><a href="./signup.html" data-after="Join us" id="joinus"> Join us</a></li>                    
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <section id="main">
        <div class="main container">
            <div class="content">
                <h1>Get our best services with </h1>
                <h1>Professionals </h1>
                <a href="./discover.html" type="button" class="ctn"> Photographers</a>          
                <a href="./discover.html" type="button" class="ctn"> Developers</a>          
                <a href="./discover.html" type="button" class="ctn"> Graphic Designers</a>          
                <a href="./discover.html" type="button" class="ctn"> Illustrators</a>          
            </div>
         </div>
    </section>

    <footer>
        <div id="foot">
            <div class="foot-items">
                <div class="foot-sections links">
                    <h3>USERVICE</h3>
                    <br>
                    <ul>  
                        <a href="#" >Discover</a>
                        <a href="#" >Jobs</a>
                        <a href="#" >Blogs</a>
                        <a href="#" >Applications</a>
                        <a href="#" >Professionals</a>
   
                    </ul>
                </div>
                <div class="foot-sections links">
                    <h3>Services</h3>
                    <br>
                    <ul>  
                        <a href="#" >Photography </a>
                        <a href="#" >Graphic Desgin</a>
                        <a href="#" >Art & Illustrations </a>
                        <a href="#" >Web Developement</a>
                        <a href="#" >App Developement</a>
                    </ul>
                </div>
                <div class="foot-sections links">
                    <h3>Support</h3>
                    <br>
                    <ul>  
                        <a href="#" >Join Us! </a>
                        <a href="#" >Login</a>
                        <a href="#" >Contact Us</a>
                        <a href="#" >Help</a>
                        <a href="#" >Privacy Policy</a>
                    </ul>
                </div>

                <div class="foot-sections links">
                    <h3>Contact Us</h3>
                    <br>
                        <form action="#" method="POST">
                            <input type="email" name="Email" class="text-input contacts-input" placeholder="*Email">
                            <textarea name="message" class="text-input contacts-message" placeholder="type here...."></textarea>
                            <button type="submit" class="ctn"> Send</button>
                        </form>
                </div>
            </div>

        </div>
    </footer>
    <div class="foot"><p>All  &copy; USERVICE  |  Designed & Developed by Vishal Rathore, Usman Hussain & Hussain Zohair</p></div>
  
</body>
<script src="./app.js"></script>
</html>