<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"   href="../../CSS-20210116T074222Z-001/CSS/styles.css" >
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="shortcut icon" type="image/png" href="./styles/images/fav.png">
    <title>USERVICE | Profile</title>
</head>

<body>
	<section id="header">
        <div class="header container">
            <div class="nav">
                <div class="brand">
                    <a href="./index.html" id="logo"><img  src="./styles/images/logo1.png"></a>
                </div>
                <div class="nav-items">
                    <div class="hamburger"><div class="bar"></div></div>
                    <ul>
                        <li><a href="./discover.html" data-after="Discover" id="discover">Discover</a></li>
                        <li><a href="./contactus.html" data-after="Contact Us" id="Contact Us"> Contact Us</a></li>
                        <li><a href="./signin.html" data-after="Sign In" id="signin"> Sign In</a></li>
                        <li><a href="./signup.html" data-after="Join us" id="joinus"> Join us</a></li>                    
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="profile">
        <div class="profile-header">
            
            <div class="profile-img">
                <img src="./styles/images/profile.svg" alt="" class="profile-image" width="240">
            </div>

            <div class="profile-nav-info">
                <h2 class="username">Vishal Rathore</h2>
                <div class="address-info">
                    <p class="state">Karachi,</p>
                    <span class="country">Pakistan</span>
                </div>
                <div class="profile-side">
                    <p class="user-bio">Lorem ipsum dolor sit amet consectetur, id ut voluptatibus illum dolores.</p>
                </div>
            </div>
           
            <div class="profile-option">
                <div class="notification">
                    <i class="fa fa-bell"></i>
                    <span class="alert-message">1</span>
                </div>
                <div class="settings">
                    <a href="./settings.html"><i class="fa fa-cog"></i></a>
                </div>
            </div>

            <label for="resume" class="ctn"><i class="fa fa-upload"></i> Resume</label>
            <input class="resume" type="file" style="visibility: hidden; display: none;" id="resume">
            <a href="./styles/docs/Resume.pdf"  target="_blank"  data-after="" id="Resume"><button class="ctn"><i class="fa fa-download"></i> Resume</button></a>
        </div>
            

        <div class="main-bd">
            <div class="left-side">
                <div class="profile-side">
                    <p class="emial"><i class="fa fa-envelope"></i>k173718@nu.edu.pk</p>
                   </div>
                <div class="user-rating">
                    <div class="rating">
                        <h3 class="ratings">0</h3>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <span class="no-users"><h3>0</h3> &nbsp;Reviews</span>
                </div>
                    <div class="profile-ctn">
                        <button class="ctn"><i class="fa fa-comment"></i>Chat</button>
                        <button class="ctn"><i class="fa fa-plus"></i>Create</button>
                    </div>
            </div>

            <div class="right-side">
                <div class="nav">
                    <ul>
                        <li class="user-project active"  onclick="tabs(0)">Projects</li>
                        <li class="user-reviews " onclick="tabs(1)">Reviews</li>
                        <li class="user-work " onclick="tabs(2)" >Work</li>
                    </ul>
                </div>
                <div class="profile-body">
                    <div class="profile-projects tab">
                        <div class="project">
                            <div class="project-header">
                                <div class="profile-img">
                                    <img src="./styles/images/profile.svg" alt="" class="profile-image">
                                </div>
                                <div class="profile-nav-info">
                                    <h2 class="username">Vishal Rathore</h2>
                                    <div class="address-info">
                                        <span class="state">Karachi,</span>
                                        <span class="country">Pakistan</span>
                                    </div>
                                </div>
                            </div>
                            <div class="project-settings">
                                <button class="ctn"> <i class="fa fa-bars"></i></button>
                                <div class="options">
                                    <a class="project-edit" href="#" ><i class="fa fa-edit"></i>Edit</a>
                                    <a class="project-remove" href="#" ><i class="fa fa-remove"></i>Remove</a>
                                </div>
                                
                                
                            </div>
                            <div class="project-date">
                                <span class="day">Sunday &nbsp;</span>
                                <span class="date"> Oct 21, 2020</span>
                            </div>
                            <div class="project-post">

                                <div class="project-img">
                                    <img class="project-img" src="./styles/images/2.jpg" alt="" width="400px">
                                </div>
                                <div class="project-content">
                                    <h3 class="project-title">Peace</h3>
                                    <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique amet, voluptate saepe nostrum possimus tenetur optio provident corrupti</p>
                              
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-reviews tab">
                        <h3>User Reviews</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae eaque ipsam neque quae eveniet quaerat aliquam in molestias. Nobis corrupti velit sapiente quis facere. Quod harum officiis asperiores odio ipsa.</p>
                    </div>
                    <div class="profile-work tab">
                        <h3>Work</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae eaque ipsam neque quae eveniet quaerat aliquam in molestias. Nobis corrupti velit sapiente quis facere. Quod harum officiis asperiores odio ipsa.</p>
                   
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div class="foot">
        <p>All &copy; USERVICE | Designed & Developed by Vishal Rathore, Usman Hussain & Hussain Zohair</p>

    </div>

</body>
<script src="./app.js" type="text/javascript"></script>
</html>