<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet"   href="../../CSS-20210116T074222Z-001/CSS/styles.css" >
        <link rel="shortcut icon" type="image/png" href="./styles/images/fav.png">
        <title>USERVICE  |  LOGIN</title>
    </head>
<body>
    <section id="header">
        <div class="header container">
            <div class="nav">
                <div class="brand">
                    <a href="./index.html" id="logo"><img  src="./styles/images/logo1.png"></a>
                </div>
            </div>
        </div>
    </section>

    <div class="sign-container">
        <div class="form-container">
                <div class="signin-signup">
                    <form action="" class="signin-form">
                        <h2 class="title">Sign In</h2>
                        <div class="input-fields">
                             <i class="fas fa-envelope"></i>
                             <input class="email" type="email" placeholder="Email">
                        </div>
                        <div class="input-fields">
                             <i class="fas fa-lock"></i>
                             <input class="password" type="password" placeholder="Password">
                        </div>
                            <a href="#" class="forgot-password">Forgot Password?</a>
                        <button class="btn" type="button" value="login">Login</button>
                        <p class="social-text">or Sign in with</p>
                        <div class="social-media">
                            <a href="https://www.facebook.com/" class="social-icon"><i class="fab fa-facebook"></i></a>
                            <a href="https://www.gmail.com/" class="social-icon"><i class="fab fa-google"></i></a>
                            <a href="https://www.twitter.com/" class="social-icon"><i class="fab fa-twitter"></i></a>
                        </div>   
                    </form>
                </div>
                <div class="panels-container">
                    <div class="panel left-panel">
                        <div class="panel-text">
                            <h3>JOIN US!</h3>
                            <p>and become the Pro with best opportunities.</p>
                                <a href="./signup.html"> <button class="btn transparent" id="sign-up-btn">Sign Up</button> </a>
                        </div>   
                        <img class="image" src="./styles/images/login.svg" >
                    </div>
            </div>
        </div> 

    </div>


    <script src="./app.js"></script>
</body>
</html>